@{
    ViewBag.Title = "Contact US";
}
<form method="post">
    <label>Name:</label>
    <br />
    <input />
    <br />
    <label>Last Name:</label>
    <br />
    <input />
    <br />
    <label>Email:</label>
    <br />
    <input type="email" />
    <br />
    <label>Subject:</label>
    <br />
    <input type="text" />
    <br />
    <label>Message:</label>
    <br />
    <textarea rows="4"></textarea>
    <br />
    <input type="submit" value="Send message"/>
</form>