@{
    ViewBag.Title = "Home Page";
}
 
    <div>
        <h1>MUG</h1>
        <img src="~/img/mug.jpg" />
        <ul>
            <li>Price : 100</li>
            <li>Artist : Sumit</li>
            <li>Product : Mug</li>
        </ul>
        <button id="button">Buy</button>
    </div>
    <div>
        <form>
            <label>Username:</label>
            <input />
            <label>Password</label>
            <input type="password" />
        </form>
    </div>
