body {
}

div{
    
    background-color: #4cff00;    
}

form {
    background-color: white;
}

input {

    font-size: 20px;
}

menu li {
    display:inline;

}

    menu li::after {
    content :' |'
    
    }

    menu li:last-of-type::after {
    
    content: '';
    }

form {
margin-top:20px;

}
input[type=submit] {
margin-top:10px;
}